<p id="notice">
  <div class="alert alert-success" role="alert">
  <%= notice %>
</div>
  </p>



<p>
  <strong>Description:</strong>
  <strong><%= @task.description %></strong>
</p>

<p>
  <strong>Completed:</strong>
  <strong><%= @task.completed %></strong>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
