<div class="row">

  <div class="well col-md-4 col-md-offset-4">
    <center>
      <div style="text-align: left">
<h1>Sign into gCamp</h1>

<%= form_for signin_path do |f| %>

<% if @sign_in_error %>
<strong><p class="text-danger">
  <%= @sign_in_error %>
</p></strong>
<% end %>

<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :password %>
  <%= f.password_field :password, class:"form-control" %>
</div>


<div class="form-group">
  <div class="actions">
    <%= f.submit "Sign in", class:"btn btn-primary" %>
  </div>
</div>


</div>
</center>
</div>
<div>
  <% end %>
